<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="card" fxFlex="85">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap">

          <!-- Video -->
          <div class="video-row" fxFlex="100">
            <video class="video" id="video" #video autoplay playsinline></video>
          </div>
          <!-- Canvas -->
          <div fxFlex="100" style="display:none">
            <canvas class="video" id="canvas" #canvas></canvas>
          </div>

          <!-- Button -->
          <div fxFlex="100" fxLayoutAlign="space-around center">
            <ng-container *ngIf="!videoStart">
              <button mat-fab class="mat-elevation-z1" (click)="toggleVideoMedia()" [disabled]="videoStart" color="primary" aria-label="videocam icon-button">
                <mat-icon>videocam</mat-icon>
              </button>
            </ng-container>

            <ng-container *ngIf="videoStart">
              <button mat-fab (click)="toggleVideoMedia()" [disabled]="!videoStart" color="warn" aria-label="videocam icon-button">                  
                <mat-icon>videocam_off</mat-icon>
              </button>
            </ng-container>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="nfc-button" fxLayout="row wrap" fxLayoutAlign="center center">
  <button mat-raised-button (click)="getNFC()" color="primary">GET NFC INFO</button>
</div>

<router-outlet></router-outlet>